Source: xsecurelock
Section: x11
Priority: optional
Maintainer: Markus Teich <mteich@google.com>
Build-Depends: debhelper (>= 8.0.0),
  autotools-dev,
  dh-autoreconf,
  pamtester,
  libpam-dev,
  libc6,
  libx11-dev,
  x11proto-core-dev
Standards-Version: 3.9.4
Homepage: https://github.com/google/xsecurelock

Package: xsecurelock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 screen lock utility with the primary goal of security
 In XSecureLock, security is achieved using a modular design to avoid the usual
 pitfalls of screen locking utility design on X11.
