Source: xsecurelock
Section: x11
Priority: optional
Maintainer: Rudolf Polzer <rpolzer@google.com>
Uploaders: Markus Teich <mteich@google.com>
Build-Depends: debhelper (>= 8.0.0),
  autotools-dev,
  dh-autoreconf,
  libc6,
  libpam-dev,
  libx11-dev,
  libxcomposite-dev,
  libxext-dev,
  libxfixes-dev,
  libxft-dev,
  libxmuu-dev,
  libxrandr-dev,
  libxss-dev,
  pandoc,
  x11proto-core-dev
Standards-Version: 4.0.0
Homepage: https://github.com/google/xsecurelock

Package: xsecurelock
Architecture: any
Depends: dash, x11-xserver-utils, ${shlibs:Depends}, ${misc:Depends}
Suggests: mplayer,
  mpv,
  xscreensaver-data,
  xscreensaver-data-extra,
  xscreensaver-gl,
  xscreensaver-gl-extra
Description: X11 screen lock utility with the primary goal of security
 In XSecureLock, security is achieved using a modular design to avoid the usual
 pitfalls of screen locking utility design on X11.
