#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=+all

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-htpasswd=no \
		--with-mplayer=/usr/bin/mplayer \
		--with-mpv=/usr/bin/mpv \
		--with-pam \
		--with-pam-service-name=common-auth \
		--with-pamtester=no \
		--with-xcomposite \
		--with-xf86misc=no \
		--with-xfixes \
		--with-xft \
		--with-xkb \
		--with-xrandr \
		--with-xscreensaver=/usr/lib/xscreensaver \
		--with-xss \
		--with-xsync

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_install:
	dh_auto_install
	find ./debian -type f -name "LICENSE" -delete
